<h1>Dashboard</h1>

<div class="row">
  {{#each posts}}
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.content}}</p>
          <a href="/dashboard/edit-post/{{this.id}}" class="btn btn-primary">Edit</a>
          <button class="delete-post btn btn-danger" data-post-id="{{this.id}}">Delete</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<a href="/dashboard/new-post" class="btn btn-primary">Add New Post</a>

<script src="/js/delete-post.js"></script>