<h1>Homepage</h1>

{{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <a href="/post/{{id}}">Read More</a>
  </div>
{{/each}}

<script src="/js/comment.js"></script>