<h1>New Post</h1>

<form id="add-post-form">
  <div>
    <label for="post-title-input">Title:</label>
    <input type="text" id="post-title-input">
  </div>
  <div>
    <label for="post-content-input">Content:</label>
    <textarea id="post-content-input"></textarea>
  </div>
  <button type="submit">Create Post</button>
</form>

<script src="/js/new-post.js"></script>