/* Set the default styles for the body of the website. */
body {
    background-color: #282828;
    color: #f8f8f8; 
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Set the styles for the navbar brand. */
.navbar-brand {
    background-color: #f8f8f8;
    color: #282828;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}

/* Set the styles for the navbar brand on hover. */
.navbar-brand:hover {
    background-color: #282828;
    color: #f8f8f8;
    text-decoration: none;
}

/* Set the styles for the navigation links. */
.nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #f8f8f8;
}